
/* header */
.header {
    width: 100%;
    height: 700px;
    color: White;
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%); */
    background-image: url('../image/bg-aboutus.jpg');
    clip-path: ellipse(150% 87% at 93% 13%);
}
.header-info {
    margin:0 10px 0 100px;
    padding-top: 50px;
}

.header-info p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.header-title {
    margin-top: 0;
    font-weight: 600;
    font-size: 3.5rem;
}

.header-title span {
    display: block;
    font-weight: 100;
}

button {
    padding: 10px 20px;
    background-color: #1a73e8;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    animation: transform 0.3s linear;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.2);
}


/* .header-img
{
    display: flex;
    justify-content: end;
    height: 300px;
    width: auto;
    margin: 100px 200px 0 0;
} */

/* notice-header */
.notice-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 14px;
}
.text {
    line-height: 26px;
    color: #757575;
    font-size: 1.3rem;
    font-weight: 400;
}

/* image3 */
.image3 {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.img3 {
    width: 30%;
    height: auto;
    overflow: hidden;
}

.image3 img {
    width: 100%;
    height: 32rem;
    transition: transform 0.3s linear;
}

.image3 img:hover {
    transform: scale(1.2);
}




/* notice */
.notice1 {
    margin: 3rem 2rem 0 2rem;
    text-align: center;
}

.notice1-title {
    font-size: 3rem;
    margin-block-end: 0.4em;
    margin-block-start: 0.4em;
}

.notice1-title span {
    display: block;
}
 


.notice2 {
    background-color: #e9e9e9;
    padding: 0.1px 100px 40px 100px;
    text-align: center;
}

.notice2-report {
    display: flex;
    justify-content: space-around;
    color: #747474;
}

.report {
    margin: 30px 20px 30px 20px;
    border: 0.1px solid #747474;
    padding: 10px 110px 20px 110px;
    width: 100%;
    padding: 24px 38px;

}


.report-title {
    font-size: 2rem;
    font-weight: 1100;
}

.report-icon {
    font-size: 3.5rem;
}

/* image2 */
.image2 {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
    position: relative;
}

.image2-left, .image2-right {
    width: 49%;
    height: 46rem;
    background-size: cover;
}

.image2-left {
    background-image: url('../image/aboutus/2in2.jpg');
}
.image2-right {
    background-image: url('../image/aboutus/1in2.jpg');
}

.image2 button {
    margin: 41rem 0 0 4rem;
}


/* card */
.notice3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.card {
    width: 100%;
    padding: 30px 43px;
    margin: 40px 20px;
    box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.15);
    height: 450px;
    border-radius: 10px;
}

.card-icon {
    font-size: 3rem;
    color: black;
}

.card-title {
    font-size: 2em;
    font-weight: 600;
    margin: 14px 0;

}

.card-noti {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

/* profile */


.profile {
    display: flex;
    margin-top: 60px;
    margin-bottom: 120px;
}

.profile-img{
    width: 30%;
    padding: 110px 10% 0 10%;
    height: auto;
    background-color: #faedc4;
    border-radius: 16px;
}

.profile-img img {
    width: 100%;
}

.profile-info {
    width: 50%;
    height: auto;
}

.profile-info ul {
    display: flex;
    flex-direction: column;
}

.profile-icon {
    font-size: 3rem;
    padding: 6px 10px;
    background-color: #f6de95;
    color: #a47d06;
    border-radius: 16px;
}


.profile li:first-child {
    font-size: 2rem;
    margin: 20px 0 10px 0;
}

.--violet {
    background-color: #dab6fc;
    color: #763cad;
}



@media only screen and (max-width: 600px) 
{
    html {
        font-size: 10px;
    }
    .header {
        height: 400px;
        width: 100%;
        background-size: cover;
        
    }
    .notice1-title {
        font-size: 2.5rem;
    }
    .header-info {
        margin:0 0 0 50px;
    }
    .notice2 {
        padding: 0.1px 50px 40px 50px;
    }
    .notice2-report {
        flex-wrap: wrap;
    }
    .notice3 {
        flex-wrap: wrap;
    }
    .card {
        width: 48%;
        height: 300px;
    }

    .profile:nth-child(2) {
        flex-direction: column;
    }

    .profile:last-child {
        flex-direction: column-reverse;
    }

    .profile-img {
        width: 70%;
        padding: 90px 15% 0 15%;
    }

    .profile-info {
        width: 100%;
        text-align: center !important;
        margin: 20px 0;
    }
    .image3 {
        justify-content: left;
        flex-wrap: wrap;
    }
    .img3 {
        width: 60%;
        height: auto;
        margin: 0 0 20px 20%;
    }

    .img3 img {
        height: 40rem;
    }

    .image2 {
        justify-content: left;
        flex-wrap: wrap;
    }
    .image2-left, .image2-right {
        width: 80%;
        margin: 0 0 20px 10%;
    }

    
}

@media only screen and (min-width: 601px) and (max-width: 1023px)
{
    html {
        font-size: 11px;
    }

    .notice2 {
        flex-wrap: wrap;
    }

    .report {
        width: 34%;
    }

    .notice3 {
        flex-wrap: wrap;

    }
    .card {
        width: 31%;
        height: 300px;
    }
}