.container{
    margin-top: 1rem;
    font-family: 'Wix Madefor Text', sans-serif;
}
.product{
    width: 100%;
    height: auto;   
    background-color: #e9e9e9;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
}
.product_img{
    width: 50%;
    height: 45rem;
    overflow: hidden;
    object-position: center;
    display: flex;
}

.product_img img{
    width: 100%;
}

.product-information{
    background-color:#f2f2f2 ;
    width: 48.5%;
    margin-left: 1.5%;
    padding: 0 1rem;
    line-height: 1rem;
}

.size button{
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}
.quantity{
    display: flex;
    align-items: center;
}
.quantity button{
    height: 1.5rem;
    padding: 0 1rem;
}
.payment button{
    width: 15rem;
    height: 4rem;
    font-size: 1.8rem;
}
.description p{
    padding: 0 1rem;
    line-height: 1.5rem;
    color: #7b7b7b;
}
.suggest{
    width: 100%;
    margin-top: 5rem;
}
.products_detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.suggest_product{
    width: 33%;
}
.img_suggest img{
    width: 100%;
}

.caption_suggest{
    line-height: 0.7rem;
    font-size: 1.3rem;
}

@media only screen and (max-width:600px ){
    .products_detail{
        flex-direction: column;
    }
    .suggest_product{
        width: 100%;
    }

    .product{
        flex-direction: column;
    }

    .product_img{
        width: 100%;
        margin: 0;
    }
    .product-information{
        width: 96%;
        border-top: 1px solid;
        margin: 0;
    }
    .payment{
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width:600px ) and (max-width:1040px ){
    .product{
        flex-direction: column;
    }

    .product_img{
        width: 100%;
        margin: 0;
    }
    .product-information{
        width: 96%;
        border-top: 1px solid;
        margin: 0;
    }
    .payment{
        margin-bottom: 1rem;
    }
}